{% extends 'base.html' %} {% block content %}
<div class="text-center">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-700 md:text-5xl lg:text-6xl dark:text-gray-300"
  >
    One-Time Secret {% block title %}Created{% endblock %}
  </h1>
</div>
<div>
  <p class="text-center font-bold text-gray-700 dark:text-gray-300">
    Secret URL: http://localhost:5000/view/{{ key }}
  </p>
</div>
<br />
<p class="text-center text-gray-700 dark:text-gray-300">
  Note: Do not use the URL for testing or the person you give it to may not be
  able to use it (depending on the number of views you configured).
</p>
{% endblock %}
