{% extends 'base.html' %} {% block content %}

<div class="text-center">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-700 md:text-5xl lg:text-6xl dark:text-gray-300"
  >
    {% block title %}Create{% endblock %} a One-Time Secret
  </h1>
</div>
<p
  class="mb-6 text-lg font text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center"
>
  Securely create a one-time secret. The secret will be deleted after it is
  viewed the number of times you specify. Optionally, set a password for added
  security.
</p>

<form action="/create" method="POST">
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2 pl-2"
      ><label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Secret Name:</label
      ></span
    >
    <span class="w-full md:w-[600px] pb-2 pl-2 pr-2"
      ><input
        type="text"
        id="name"
        name="name"
        placeholder="Give your secret a name..."
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    /></span>
    <span class="flex-1"></span>
  </div>
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2 pl-2"
      ><label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Password (optional):</label
      ></span
    >
    <span class="w-full md:w-[600px] pb-2 pl-2 pr-2"
      ><input
        type="text"
        id="password"
        name="password"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    /></span>
    <span class="flex-1"></span>
  </div>
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2 pl-2"
      ><label
        for="expiry"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Expiry in hours (1-720):</label
      ></span
    >
    <span class="w-full md:w-[600px] pb-2 pl-2 pr-2"
      ><input
        type="text"
        name="expiry"
        id="expiry"
        value="24"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    /></span>
    <span class="flex-1"></span>
  </div>
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2 pl-2"
      ><label
        for="views_remaining"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Maximum Views (1-10):</label
      ></span
    >
    <span class="w-full md:w-[600px] pb-2 pl-2 pr-2"
      ><input
        type="text"
        name="views_remaining"
        id="views_remaining"
        value="1"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    /></span>
    <span class="flex-1"></span>
  </div>
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2 pl-2"
      ><label
        for="secret"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Secret:</label
      ></span
    >
    <span class="w-full md:w-[600px] pb-2 pl-2 pr-2">
      <textarea
        name="secret"
        id="secret"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write your secret here..."
      ></textarea>
    </span>
    <span class="flex-1"></span>
  </div>
  <div class="flex flex-wrap">
    <span class="flex-1"></span>
    <span class="w-full md:w-[200px] pt-2"></span>
    <span class="w-full md:w-[600px] pb-2 pl-2"
      ><button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Create
      </button></span
    >
    <span class="flex-1"></span>
  </div>
</form>
{% endblock %}
